*.o
*.mod
*.d
**/make/*.h
**/make/configure*
ldt/LDT
ldt/make/LDT
lis/LIS
lis/make/LIS
lvt/LVT
lvt/make/LVT
lis/make/Filepath
lis/make/user.cfg
lis/runmodes/nuopc_cpl_mode/VERSION
lis/runmodes/nuopc_cpl_mode/liblis_nuopc.a
